<% if current_user == @booking.user # costumer %>
  <p><%= @booking.product.user.email %>'s  <%= @booking.product.group %></p>
<% elsif current_user == @booking.product.user #owner %>
  <p><%= @booking.user.email %> wants to rent your <%= @booking.product.group %></p>
<% end %>

<h1><%= @booking.product.design %></h1>
<h3>from <%= @booking.start_date %> to <%= @booking.end_date %></h3>
<h3>Total of <%= (@booking.product.price * @days).round(2) %> </h3>

<% if current_user == @booking.product.user && @booking.status == "em negociacão" %>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "aceito" }%>
    <%= f.button :submit, "Aceitar" %>
  <% end %>
<%= simple_form_for @booking do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "negado" }%>
    <%= f.button :submit, "Negar" %>
  <% end %>
<% elsif current_user == @booking.product.user && @booking.status == "aceito" %>
  <%= simple_form_for @booking do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: "alugado" }%>
    <%= f.button :submit, "Tudo Certo !" %>
  <% end %>
<% end %>
