<%if current_user == @booking.user %>
  <h1><%= @booking.product.design %></h1>
  <h3>from <%= @booking.start_date %> to <%= @booking.end_date %></h3>
  <p><%= @booking.product.user.email %> is charging <%= @booking.product.price %> a day</p>

<% elsif current_user == @booking.product.user %>
  <h1><%= @booking.product.design %></h1>
  <h3>from <%= @booking.start_date %> to <%= @booking.end_date %></h3>
  <p><%= @booking.user.email %> wants to rent it for <%= @booking.product.price %> a day</p>

<% end %>
