<h1>Pages#home</h1>

<%= form_tag("products/search", method: "get") do %>
  <%= label_tag(:brand, "Brand for:") %>
  <%= select_tag(:brand, options_for_select([['Gibson'],['Fender'],['Ibanez'],['Yamaha'], ['Epiphone']])) %>
  <%= label_tag(:group, "Group for:") %>
  <%= select_tag(:group, options_for_select([['Eletric Guitar'],['Acoustic Guitar']])) %>
  <%= label_tag(:design, "Design for:") %>
  <%= text_field_tag(:design) %>
  <%= submit_tag("Search") %>

<% end %>



<%= link_to 'Owner page', products_path %>

