<h1>Pages#home</h1>

<%= form_tag("products/search", method: "get") do %>
  <%= label_tag(:brand, "Brand for:") %>
  <%= select_tag(:brand, options_for_select([['Gibson'],['Fender'],['Ibanez'],['Yamaha'], ['Epiphone']])) %>
  <%= label_tag(:group, "Group for:") %>
  <%= select_tag(:group, options_for_select([['Eletric Guitar'],['Acoustic Guitar']])) %>
  <%= label_tag(:design, "Design for:") %>
  <%= text_field_tag(:design) %>
  <%= submit_tag("Search") %>
  <%#= select_tag(:city_id, '<option value="1">Lisbon</option>...') %>
<% end %>

<div class="container">
  <div class="row">
    <% @products.each do |product|%>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center" style="background-image: url('<%=product.photo%>')">
            <h1>teste</h1>
        </div>  <!-- insert <div class="card"> -->
      </div>
    <%end%>
  </div>
</div>




<%= link_to 'Owner page', products_path %>

