<h1>OWNER PRODUCTS</h1>

<ul>

  <% @products.each do |product| %>
    <li><%= product.brand %></li>
    <li><%= product.design %></li>
    <li><%= product.group %></li>
    <li><%= product.year %></li>
    <li><%= product.price %></li>
    <li><%= product.city %></li>
    <li><%= product.category %></li>
    <li><%= product.description %></li>
    <li><%=cl_image_tag(product.photo, height: 100, width:100, crop: :fill)%></li>
    <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
    <%= link_to "Delete", product_path(product), method: :delete, class: "btn btn-danger" %>
    <%#= link_to "Edit", edit_product_instrument_path(product, product.instrument) %>
    <hr>
  <%end%>
</ul>
  <%= link_to "New", new_product_path(@product), class: "btn btn-success btn-lg" %>

    <%#= link_to "new", new_product.id_instrument_path %>


