
<div style="margin-bottom: 25px;" class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1>Solicitação de aluguel <span class="glyphicon glyphicon-usd"></span></h1>
        </div>
      </div>
      <div class="panel-body">
        <% @product_rentals.each do |p| %>
          <div class="col-xs-12 col-md-12 col-sm-12">
            <%= cl_image_tag p.photo, class: "card cardhover" %>
            <% p.bookings.each do |b|%>
              <%= link_to "Ver proposta", booking_path(b), class: "btn btn-success"%>
              <p><%= b.user.email %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1> My  Keezies <span class="glyphicon glyphicon-home"></span></h1>
        </div>
      </div>
      <div class="panel-body">
        <% @products.each do |product| %>
          <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="thumbnail card cardhover" style="background-image: url('<%=product.photo%>')">
              <h3 class="card-description">
              <%= link_to product.brand, product_path(product) %>
              <span style="font-size: 15px;"><%= product.design %></span></h3>
              <h4 class="card-user">R$<%= product.price %>*dia</h4>
              <h5 class="card-top-description"><%= product.city %></h5>
            </div>
            <br>
            <%= link_to edit_product_path(product) do%>
              <button type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil">
                </span>
              </button>
            <% end %>
            <%= link_to product_path(product), method: :delete do%>
              <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash">
                </span>
              </button>
            <% end %>
            <p style="margin-bottom: 30px;"> </p>    <%#= link_to "Edit", edit_product_instrument_path(product, product.instrument) %>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <%= link_to "New", new_product_path(@product), class: "btn btn-success btn-lg" %>
</div>
<%#= link_to "new", new_product.id_instrument_path %>
