<h1> Keezy Encontrado </h1>
<div class="container">
  <% @results.each do |p|%>
    <div style="margin-bottom: 20px;"  class="col-xs-12 col-sm-4">
      <div class="card cardhover" style="background-image: url('<%=p.photo%>')">
        <h3 class="card-description">
        <%= link_to p.brand, product_path(p) %>
          <span style="font-size: 15px;"><%= p.design %></span></h3>
          <h4 class="card-user">R$<%= p.price %>*dia</h4>
          <h5 class="card-top-description"><%= p.city %></h5>
      </div>
    </div>
  <%end%>
</div>
