
 <div class="banner-user" style="background-image: linear-gradient(320deg, rgba(255,104,107,0.6) 0%, rgba(0,0,0,0.6) 60%), url('http://res.cloudinary.com/dr4xmxoal/image/upload/v1487966110/478769_copy_amh0y9.jpg');">
  <div class="container">
  <h1><%= @product.design %> by <%= @product.brand.capitalize %></h1>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-6 text-center">
      <hr>
        <%= cl_image_tag @product.photo, class: "card-size-show cardhover" %>
      <hr>
      </div>
      <% unless current_user == @product.user %>
      <div class="col-xs-12 col-md-6  col-sm-6">
      <hr>
        <%= simple_form_for @booking do |f| %>
          <%= f.input :start_date, as: :string, input_html: { class: "form-control datepicker"}  %> <!-- can't be as: :date, otherwise the browser might overwrite it -->

          <%= f.input :end_date, as: :string, input_html: { class: "datepicker"}  %>
          <%= f.input :product_id, as: :hidden, input_html: { value: @product.id }%>
          <%= f.button :submit, "Open request" %>
        <% end %>

        <hr>
          <p>Preço por dia: <%= @product.price %></p>
      </div>
     <% end %>
    </div>
    <%= content_for :javascript do %>
    <script>
      $('.datepicker').datepicker({
        startDate: '0d',
        autoclose: true,
        format: 'dd/mm/yyyy',
        datesDisabled: <%= raw @unavailable %> // raw needed to pass the correct format from ruby to js
      });
    </script>
  <% end %>

  </div>
</div>
